<div class = "container">
    <% @posts.each do |post| %>
        <div class = "row my-5">
            <div class = "col-sm">
                <div class = "mx-auto" style = "width: 640px;">
                    <div class = "card">
                        <div class = "card-body post-head name">
                            <%= post.user.user_name %>
                        </div>
                        <%= link_to (image_tag post.image.variant(resize_to_fill: [640, 0]), class: 'img-responsive'), post_path(post) %>
                        <div class = "card-body caption">
                            <%= post.caption %>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    <% end %>    
</div>