<div class = "container">
    <div class = "row justify-content-center">
        <div class = "col-sm-6 form-wrapper text-center">
            <%= bootstrap_form_for @post do |f| %>
                <%= f.file_field :image %>
                <%= f.text_field :caption %>
                <%= f.submit %>
            <% end %>
        </div>
    </div>
</div>